/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require orders
 *= require products
 *= require shopping_carts

 */

 a {
  text-decoration: none !important;
 }

.cart p {
  margin: 0px;
}

.cart .button {
  margin: 0 0 1.25rem;
}

.cart .item {
  padding: 10px 0;
  border-bottom: 1px dotted #ddd;
}

.cart.open {
  left: initial;
  right: 10px;
  top: 50px;
}

.cart.open:before {
  left: initial;
  right: 9px;
}

.cart.open:after {
  left: initial;
  right: 8px;
}

.cart .item:hover {
  background: #fafafa;
}

.button.cart {
  margin-right: 10px;
}

.product:hover {
  border: 1px solid #dddddd;
}

.product-image {
  border: 1px solid #dddddd;
}

.product .buy {
  margin: 0;
}

.price {
  color: #F0411F;
  font-size: 28px;
}

.footer {
  margin: 0px;
  padding: 10px 0px;
}

form input {
  width: 100%;
}