.row
  .large-2.columns
    = link_to(product_path(item.item)) do
      %img(src="#{item.item.image_url}")
  .large-10.columns
    %p
      %b
        = link_to(product_path(item.item)) do
          = item.item.title
    %p
      %i
        = "#{item.quantity} x #{item.price} = #{item.quantity * item.price} грн."