- if @shopping_cart.shopping_cart_items.length > 0
  - @shopping_cart.shopping_cart_items.each do |item|
    .row.item
      .large-12.columns
        = render 'cart_item', {item: item}
  .row
    .large-12.columns
      = form_for @order, url:orders_create_path do |f|
        .row
          .large-6.columns
            = f.text_field :client_name, placeholder:"Ваше Ім’я *", required:""
          .large-6.columns
            = f.text_field :client_phone, placeholder:"Ваш номер телефону *", data:{mask:"(999)9999999"}, required:""
        %hr
        .row
          .large-6.columns
            %a.button.center.alert.left.tiny{href:"#{shopping_carts_clear_path}"}
              Очистити кошик
          .large-6.columns
            %button.button.center.success.right.tiny(type="submit")
              Оформити замовлення
- else
  .row
    .large-12.columns
      %p
        Кошик пустий. Додайте будь-ласка товар, який ви хочете придбати :)