.row
  .large-12.columns
    .row
      .large-12.columns
        %h6.subheader
          = product.title
        %img(src="#{product.image_url}")
    %hr
    .row
      .large-6.columns
        %span.alert.label
          = "#{product.price} грн."
      .large-6.columns
        %a.right.tiny.button.buy(href="#{shopping_carts_add_path(product)}")
          Купити