%div.row
  %div.large-12.columns
    %ul.small-block-grid-4
      - @products.each do |product|
        = link_to(product_path(product)) do
          %li.product(title="#{product.title}")
            = render 'product', { product: product }