.row
  .large-3.columns
    .row.product-image
      .large-12.columns
        %img(src="#{@product.image_url}")
    .row
      .large-12.columns
        .row
          .large-4.columns.button.tiny(title="Переглядів: #{@product.viewed_count}")
            = @product.viewed_count
          .large-4.columns.button.tiny.alert(title="Куплено: #{@product.bought_count}")
            = @product.bought_count
          .large-4.columns.button.tiny(title="Замовлено: #{@product.carted_count}")
            = @product.carted_count
  .large-9.columns         
    %h1.subheader
      = @product.title
    .row
      .large-6.columns
        .price
          = "#{@product.price} грн."
      .large-6.columns
        %a.right.button.buy(href="#{shopping_carts_add_path(@product)}")
          Купити
    %hr
    %p
      = @product.description
%br
.row
  .large-12.columns
    %ul.small-block-grid-3
      %li
        = render 'group', { title: 'З цим товаром також купують', products: @product.bought_with.limit(10) }
      %li
        = render 'group', { title: 'З цим товаром також переглядають', products: @product.viewed_with.limit(10) }
      %li
        = render 'group', { title: 'З цим товаром також замовляють', products: @product.carted_with.limit(10) }