!!!
%html(lang="en")
  %head
  %meta(charset="utf-8")/
  %meta(content="width=device-width, initial-scale=1.0" name="viewport")/
  %title= content_for?(:title) ? yield(:title) : "Bender shop by Delfit team"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "vendor/modernizr"
  = csrf_meta_tags
  %body
    %nav.top-bar(data-topbar="" role="navigation")
      %ul.title-area
        %li.name
          %h1
            = link_to(root_path) do
              Bender shop
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a(href="#")
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %a.button.right.cart(href="#" data-action="open-cart")
          = "Товарів: #{@shopping_cart.count} на сумму #{@shopping_cart.total} грн."
        .medium.cart(class="f-dropdown" data-container="cart")
          = render 'cart'
    - flash.each do |name, msg|
      .alert-box.info.radius{"data-alert" => ""}
        = msg
        %a.close{:href => "#"} &times;
    %br
    = yield
    .panel.footer
      .text-center
        .label.alert
          Delfit 2014
    = javascript_include_tag "application"